<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Family Album</title>
        <link rel="stylesheet" href="/bootstrapcss/bootstrap.min.css">

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Family Album</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <main>

            <div class="col-6 offset-3">
                <% if (!member) {%>
                    <h2>It looks like you are the first member of your family to join!</h2>
                    <h2>Please head to your <a href="/familymember/<%=user._id%>/mytree">family tree</a> to get started!
                    </h2>
                    <% } else{ %>
                        <h1>Join the family!</h1>
                        <h2>Is this your family <%=member.first%>
                                <%=member.last%>?
                        </h2>
            </div>

            <% if (member.mother) { %>

                <div class="col-6 offset-3 mt-2">
                    Mother:
                    <%=member.mother.first%>
                        <%=member.mother.last%>

                </div>

                <% } %>

                    <% if (member.father) { %>

                        <div class="col-6 offset-3 mt-2">
                            Father:
                            <%=member.father.first%>
                                <%=member.father.last%>

                        </div>

                        <% } %>


                            <% if (member.spouse) { %>

                                <div class="col-6 offset-3 mt-2">
                                    Spouse:
                                    <%=member.spouse.first%>
                                        <%=member.spouse.last%>

                                </div>

                                <% } %>


                                    <% for (let sibling of member.siblings) { %>
                                        <div class="col-6 offset-3 mt-2">
                                            Sibling:
                                            <%=sibling.first%>
                                                <%=sibling.last%>

                                        </div>
                                        <% } %>

                                            <% for (let child of member.children) { %>
                                                <div class="col-6 offset-3 mt-2">
                                                    Child:
                                                    <%=child.first%>
                                                        <%=child.last%>

                                                </div>
                                                <% } %>

                                                    <div class="col-6 offset-3 mt-4">
                                                        <form action="/familymember/<%=member._id%>/joinfamily"
                                                            method="POST">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="join"
                                                                    id="join" value="join" checked>
                                                                <label class="form-check-label" for="join">
                                                                    Yes that's me, join the family!
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="join"
                                                                    id="skipjoin" value="skip">
                                                                <label class="form-check-label" for="skipjoin">
                                                                    That's not me! I'll start my own family tree from
                                                                    scratch.
                                                                </label>
                                                            </div>

                                                            <button type="submit"
                                                                class="btn btn-primary mt-2">Submit</button>
                                                        </form>
                                                    </div>

                                                    <% } %>

        </main>
        <script src="/bootstrapjs/bootstrap.min.js"></script>

    </body>