<% layout('/layouts/boilerplate',{user})%>


    <div class="container">
        <div class="row">
            <h1>
                <%=familymember.first%>'s Family Tree
            </h1>
        </div>
    </div>



    <% if (familymember.mother) { %>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Mother: <a href="/familymember/<%=familymember.mother._id%>/tree">
                        <%=familymember.mother.first%>
                            <%=familymember.mother.last%>
                    </a>
                </div>
            </div>
        </div>
        <% } %>

            <% if (familymember.father) { %>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            Father: <a href="/familymember/<%=familymember.father._id%>/tree">
                                <%=familymember.father.first%>
                                    <%=familymember.father.last%>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>


                    <% if (familymember.spouse) { %>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    Spouse: <a href="/familymember/<%=familymember.spouse._id%>/tree">
                                        <%=familymember.spouse.first%>
                                            <%=familymember.spouse.last%>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% } %>

                            <div class="container">
                                <div class="row">
                                    <% for (let sibling of familymember.siblings) { %>
                                        <div class="col-sm">
                                            Sibling: <a href="/familymember/<%=sibling._id%>/tree">
                                                <%=sibling.first%>
                                                    <%=sibling.last%>
                                            </a>
                                        </div>
                                        <% } %>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <% for (let child of familymember.children) { %>
                                        <div class="col-sm">
                                            Child: <a href="/familymember/<%=child._id%>/tree">
                                                <%=child.first%>
                                                    <%=child.last%>
                                            </a>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col">
                                        <a href="/familymember/<%=familymember._id%>/new" class="btn btn-primary">Add a
                                            new
                                            family
                                            member to this branch</a>
                                    </div>
                                </div>
                            </div>